
/* Variables */
:root {
    --colorPrincipal: #235789;
    --colorPrincipalClaro: #2e71af;
    --rojoOscuro: #C1292E;
    --rojoError: #E31F1F;
    --amarillo: #E3891F;
    --rojoErrorClaro: #e62f2f;
    --amarilloClaro: #e48f2e;
    --azulTitulos: #1ea2e4;
    --azulBotones: #1c9ada;
    --azulBotonesHover: #1da4e7;
    --verdeBotones: #28DA39;
    --verdeBotonesHover: #18CC2A;
    --negro: #020100;
    --gris: #dadada;
    --grisClaro: #eeeeee;
    --grisTitulos: #686868;
    --grisTextos: #7a7a7a;
    --blanco: #FDFFFC;

    --fuenteParrafos: 'Roboto', sans-serif;
    --fuenteTitulos: 'Akshar', sans-serif;
}



/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/


/* Generales */



html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    background-color: var(--blanco);
    font-size: 1.2rem;
    line-height: 2;
}



/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/



/* Globales */

a{
    text-decoration: none;
}

li {
    list-style: none;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
    font-weight: 100;
}

.contenedor {
    margin: 0 auto;
    margin-top: 15rem;
    max-width: 120rem;
    width: 90%;
    min-height: 70vh;
}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Utilidades */

@media (min-width: 1024px) {
    .grid-2-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.centrar-grid {
    justify-content: center;
    align-items: center;
}

.botones a {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--blanco);
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto;
}

.btn_amarillo {
    background-color: var(--amarillo);
}

.btn_amarillo:hover {
    background-color: var(--amarilloClaro);
}

.btn_rojo {
    background-color: var(--rojoError);
}

.btn_rojo:hover {
    background-color: var(--rojoErrorClaro);
}

.btn_verde {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: var(--verdeBotones);
    color: var(--blanco);
    font-weight: bold;
}

.btn_verde:hover {
    background-color: var(--verdeBotonesHover);
}

.alerta {
    max-width: 80%;
    color: var(--blanco);
    padding: 0.5rem;
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
}

.error {
    background-color: var(--rojoError);
}

.neutro {
    color: var(--grisTextos);
    font-weight: bold;
}

.centrar {
    margin: 0 auto;
    text-align: center;
}

.margin-5-top {
    margin-top: 5rem;
}


/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Navegacion */

.header {
    top: 0;
    background-color: var(--colorPrincipal);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header__barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.navegacion {
    margin: 2rem;
}


.navegacion a{
    display: none;
}

@media (min-width: 1024px) {
    .navegacion a{
        display: inline;
    }
}

.navegacion a {
    font-size: 2rem;
    color: var(--blanco);
    text-decoration: none;
    padding: 2rem;
}

.navegacion a:hover {
    border-radius: .5rem;
    background-color: var(--colorPrincipalClaro);
}

.navegacion a:visited {
    color: var(--blanco);
}

.logo img {
    max-width: 8rem;
    max-height: 8rem;
}


.icono_menu {
    cursor: pointer;
    width: 6rem;
}

@media (min-width: 1024px) {
    .icono_menu {
        display: none;
    }
}

.mostrar_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 8.5rem;
    background-color: var(--colorPrincipal);
    width: 100vw;
    height: 100vh;
    margin: 0;

    animation-name: menu;
    animation-duration: 1s;

}

@media (min-width: 1024px) {
    .mostrar_menu {
        display: none;
    }
}

.mostrar_menu a {
    display: block;
    text-align: center;
}

@media (min-width: 1024px) {
    .mostrar_menu a {
        display: none;
    }
}

@keyframes menu {
    0% {
        transform: translateX(100rem);
    }

    100% {
        transform: translateX(0);
    }

}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Iniciar Sesión */



.caja-formulario h3 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    color: var(--azulTitulos);
}

.formulario {
    margin: 0 auto;
    padding: 6rem;
    border-radius: 2rem;
    max-width: 40rem;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--grisClaro);
}

.formulario input,
.formulario label {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.formulario label {
    font-size: 2.5rem;
    font-weight: bold;
    
}

.formulario input[type="email"],
.formulario input[type="password"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--colorPrincipalClaro);
    background-color: transparent;
    font-size: 1.5rem;
    width: 90%;
}

.formulario input[type="submit"] {
    font-size: 2.5rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--azulBotones);
    color: var(--blanco);
    border: none;
    cursor: pointer;
    margin: 5rem auto 0 auto;
}

.formulario input[type="submit"]:hover {
    background-color: var(--azulBotonesHover);
}

.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus {
    outline: none;
    border-bottom: 1px solid var(--negro);
}

.formulario input::placeholder {
    color: var(--gris);
}




/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/



/* Inicio Admin */

.contenedor__inicio__admin {
    background-color: var(--grisClaro);
    box-shadow: 5px 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor__inicio__admin {
        width: 60%;
    }
}


.contenedor__inicio__admin h2 {
    text-align: center;
    color: var(--azulTitulos);
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.tabla_inicio_admin {
    margin: 0 auto;
    border-spacing: 2rem;
    width: 100%;
    text-align: center;
}

.tabla_inicio_admin thead {
    display: none;
}

@media (min-width: 1024px) {
    .tabla_inicio_admin thead {
        display: inline-table;
        font-size: 2rem;
        font-weight: bold;
        color: var(--colorPrincipalClaro);
        text-indent: 12;
    }

}



.tabla_inicio_admin th {
    display: block;
    text-align: right;

}

@media (min-width: 1024px) {
    .tabla_inicio_admin th {
        display: inline-table;
    }
}

.tabla_inicio_admin th:before {
    content: attr(data-label);
    float: left;
    color: var(--colorPrincipal);
}

@media (min-width: 1024px) {
    .tabla_inicio_admin th::before {
        display: none;
    }
}

.link_ver_mas {
    display: block;
    text-align: end;
    
}

.link_ver_mas a {
    font-size: 2rem;
    margin: 2rem 5rem 2rem 0;
}

.link_ver_mas a:visited {
    color: var(--colorPrincipal);
}





/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/



/* Apartado Ambulancias */


.contenido__principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr) );
    gap: 5rem;
}

.ambulancia {
    background-color: var(--grisClaro);
    border-radius: 1rem;
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 5rem auto;
    padding: 2rem;
    cursor: pointer;
}

.ambulancia h3 {
    color: var(--rojoError);
}

.ambulancia img {
    max-width: 100%;
}

.ambulancia:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.ambulancia h4 {
    color: var(--negro);
}

.ambulancia h4:visited {
    color: var(--negro);
}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Ver Ambulancias */

.ver__ambulancia {
    margin: 0 auto;
}

.boton__volver img {
    top: 12rem;
}

@media (min-width: 1024px) {
    .contenedor__ver__ambulancia {
        margin-left: 10rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}


.img__ver__ambulancia {
    max-width: 80rem;
    padding: 1rem;
}

.img__ver__ambulancia h3 {
    color: var(--rojoError);
}

.img__ver__ambulancia img {
    max-width: 100%;
    max-height: 30rem;
}

@media(min-width: 1024px) {
    .img__ver__ambulancia img {
        max-width: 80%;
    }
}

.texto__ver__ambulancia {
    padding: 1rem;
}

.texto__ver__ambulancia h3,
.texto__ver__ambulancia h4 {
    color: var(--rojoError);
    margin: 0;
}

.datos__ambulancia {
    margin-bottom: 2rem;
}

@media (min-width: 1024px) {
    .datos__ambulancia,
    .info__divs__insumos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}
}

.datos__ambulancia input {
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--gris);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}


.medicamentos__ambulancia,
.dispositivos__medicos__ambulancia {
    background-color: var(--gris);
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.medicamentos__ambulancia h4,
.dispositivos__medicos__ambulancia h4 {
    color: var(--grisTitulos);
}

.medicamentos__ambulancia p,
.dispositivos__medicos__ambulancia p {
    color: var(--grisTextos);
    margin: 0 auto;
}

@media(min-width: 480px) {
    .botones__ambulancia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3rem;
        gap: 5rem;
    }   
}


.btn__opciones__ambulancia {
    display: block;
    width: 70%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--blanco);
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
    text-align: center;
    background-color: var(--amarillo);
}

.btn__opciones__ambulancia:hover {
    background-color: var(--amarilloClaro);
}


.editar__ambulancia {
    background-color: var(--amarillo);
}

.eliminar__ambulancia {
    background-color: var(--rojoError);
}

.editar__ambulancia:hover {
    background-color: var(--amarilloClaro);
}

.eliminar__ambulancia:hover {
    background-color: var(--rojoErrorClaro);
}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Insumos */

.insumos {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr) );
    gap: 5rem;
    align-items: center;
}

.tipo_insumo {
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--grisClaro);
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.2);
}


.tipo_insumo h3 {
    color: var(--rojoError);
}

.tipo_insumo img {
    max-width: 100%;
}

.tipo_insumo:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Medicamentos */

.btn_nuevo_medicamento {
    display: flex;
    justify-content: end;
}

.btn_nuevo_medicamento a {
    margin: 0rem 2rem 5rem 0rem;
}


/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Links Aseo */

.links__aseo {
    width: 60%;
    margin: 0 auto;
}


.links__aseo h3{
    color: var(--colorPrincipal);
    margin: 0;
}

.link {
    background-color: var(--gris);
    padding: 0.5rem;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
}

.link a {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
    color: var(--grisTitulos);
    text-decoration: none;
}

.link a:visited {
    color: var(--grisTitulos);
}









/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Footer */

.footer {
    background-color: var(--colorPrincipal);
    width: 100%;
    bottom: 0;
    margin-top: 5rem;
}

.contenido-footer p{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 2rem;
    width: 100%;
}